body {
background-image:url(body.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
}
h1{
  font-size: 40px;
  margin-top: 160px;
  display: flex;
  justify-content: center;
  color: #285430;
  font-weight: bolder;

}
.crossed {
  text-decoration: line-through 2px black;
}
ul,li{
   list-style-type: none;
   padding : 10px;
   margin: 0;
   display: flex;
   flex-direction: column;
   align-items: center;  
}
.container{
  display: flex;
  justify-content: center;
}
.add {
  margin-top: 5px;
  background-color: #9DC08B ;
  padding: 5px;
  border: none;
}
.delete {
  background: #d30100;
  margin-bottom: 10px; 
  width: 100px;
  border: none;
  padding: 5px;
}
.btn {
 padding: 15px;
 border: none;
 width: 70%;
 color: #EDF1D6;
 font-size: 18px;
}
input{
  padding: 8px;
  margin: 10px;
}

